
body{
  background-color: lightgrey;
}

h1{
  font-size: 30px;
  color: #58D68D;
}

h2{
  font-size:20px;
  color: #1D8348;
}

.big{
  font-size:40px;
}

.uppercase{
  text-transforn: uppercase;
}

.big.uppercase{
  color: navy;
}

 h1 span{
  color: #F1C40F;
}
